# Required

POSTGRES_USER=admin
POSTGRES_PASSWORD=SeraphimIsCool99!
POSTGRES_DB=seraphim
DATABASE_URL=postgresql://admin:SeraphimIsCool99!@localhost:9902/seraphim

# ####################
# Optional

# Point it to a different socket path if desired
# DOCKER_SOCK_PATH=/var/run/docker.sock

# Optional testing
# https://id.atlassian.com/manage-profile/security/api-tokens
VITEST_JIRA_ACCESS_TOKEN=
VITEST_JIRA_EMAIL=
VITEST_JIRA_TARGET_BOARD=
VITEST_JIRA_BASE_URL=

# https://platform.openai.com/api-keys
VITEST_OPENAI_API_KEY=
VITEST_OPENAI_MODEL=

# https://platform.deepseek.com/usage
VITEST_DEEPSEEK_API_KEY=
VITEST_DEEPSEEK_MODEL=

# https://platform.claude.com/workspaces/default/logs
VITEST_ANTHROPIC_API_KEY=
VITEST_ANTHROPIC_MODEL=

# ~/.codex/auth.json
VITEST_CODEX_AUTH_JSON=
VITEST_CODEX_MODEL=

# https://github.com/settings/personal-access-tokens
VITEST_GITHUB_REPO_URL=
VITEST_GITHUB_CLASSIC_TOKEN=
VITEST_GITHUB_FINE_GRAINED_TOKEN=
