*.env
node_modules/
dist/
.vite/
$null
.seraphim/
.vscode/
!.vscode/*.code-snippets
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/keybindings.json
!.vscode/tasks.json
!.vscode/launch.json
*.vsix
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/patches
!.yarn/build-state.yml
/legacy/**
*.deb
*.rpm
*.exe
*.msi
electron/out/
electron/public/browser/
frontend/dist/
frontend/storybook-static/
dev.log
