*.env
node_modules/
dist/
.vite/
$null
.seraphim/
.vscode/
!.vscode/*.code-snippets
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/keybindings.json
!.vscode/tasks.json
!.vscode/launch.json
*.vsix
