/* Copyright © 2025 Jalapeno Labs */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}

html {
  position: relative;
  font-family: 'Noto Sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  min-height: 100vh;
}

textarea, input {
  outline: none !important;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* ///////////////////// */
/* Some basic components */
/* ///////////////////// */

@layer components {

  /* ------------------ Standardized Spacing ------------------ */

  /* This is modeling this concept https://bulma.io/documentation/elements/block/ */
  /* Why use these instead of TailwindCSS mb-X? */
  /* 1. Consistency, we can have a consistently spaced look in our application */
  /* 2. Semantic */
  /* 3. Built in :last-child support without needing a second class on everything */
  .compact:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  .relaxed:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  /* ------------------ Flex ------------------ */

  /* This is modeling this concept https://bulma.io/documentation/layout/level/ */
  /* Why use these instead of TailwindCSS flex utilities? */
  /* 1. Semantic, easy to read */
  /* 2. Easier to maintain */
  .level {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.6em;
  }

  .level-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6em;
  }

  .level-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.6em;
  }

  .level-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.6em;
  }
}
