/* Copyright © 2025 Jalapeno Labs */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  position: relative;
  font-family: 'Noto Sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

textarea, input {
  outline: none !important;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.full-canvas {
  display: flex;
  width: 100%;
  height: 100%;
}

.full-canvas-textarea {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
}

.full-canvas-textarea textarea {
  width: 100%;
  height: 100%;
}

/* ///////////////////// */
/* Some basic components */
/* ///////////////////// */

@layer components {

  /* ------------------ Standardized Spacing ------------------ */

  /* This is modeling this concept https://bulma.io/documentation/elements/block/ */
  /* Why use these instead of TailwindCSS mb-X? */
  /* 1. Consistency, we can have a consistently spaced look in our application */
  /* 2. Semantic */
  /* 3. Built in :last-child support without needing a second class on everything */
  .compact:not(:last-child) {
    margin-bottom: 1rem;
  }

  .relaxed:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  /* ------------------ Flex ------------------ */

  /* This is modeling this concept https://bulma.io/documentation/layout/level/ */
  /* Why use these instead of TailwindCSS flex utilities? */
  /* 1. Semantic, easy to read */
  /* 2. Easier to maintain */
  .level {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.6em;
  }

  .level-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6em;
  }

  .level-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.6em;
  }

  .level-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.6em;
  }

  /* ------------------ Glassmorphism ------------------ */
  
  .is-blurred-30 {
    @apply backdrop-blur-[10px]
           bg-white/30 dark:bg-black/30
  }

  /* default blur at 50% */
  .is-blurred {
    @apply backdrop-blur-[10px]
           bg-white/50 dark:bg-black/50
  }

  /* stronger blur variants */
  .is-blurred-60 {
    @apply backdrop-blur-[10px]
           bg-white/60 dark:bg-black/60
  }

  .is-blurred-70 {
    @apply backdrop-blur-[10px]
           bg-white/70 dark:bg-black/70
  }

  .is-blurred-80 {
    @apply backdrop-blur-[10px]
           bg-white/80 dark:bg-black/80
  }

  .is-rounded {
    @apply rounded-[1.75em]
  }

  /* ------------------ Fades ------------------ */
  .fade1 {
      position: absolute;
      top: -100px;
      right: -300px;
      width: 700px;
      height: 600px;
      background-image: linear-gradient(90deg, rgba(227,231,248,0) 0%, #8BBAF5 100%);
      transform: translate(-150px, -200px) rotate(-45deg);
  }

  .fade1:before {
      content: "";
      position: absolute;
      right: 200px;
      top: -200px;
      width: 800px;
      height: 600px;
      background-image: linear-gradient(90deg, rgba(227,231,248,0) 0%, #E8F2FC 100%);
  }

  .fade2 {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 800px;
      height: 600px;
      background-image: linear-gradient(-90deg, rgba(237,240,243,0) 0%, #8BBAF5 100%);;
      transform: translate(-360px, 0px) rotate(-45deg)
  }

  .fade2:before {
      content: "";
      position: absolute;
      right: 200px;
      top: -200px;
      width: 800px;
      height: 600px;
      background-image: linear-gradient(-90deg, rgba(227,231,248,0) 0%, #E8F2FC 100%);
  }

  .fade3 {
      position: absolute;
      right: -800px;
      top: 0px;
      width: 800px;
      height: 600px;
      background-image: linear-gradient(90deg, rgba(227,231,248,0) 0%, #8BBAF5 100%);
      transform: translate(-360px, 0px) rotate(-45deg);
  }

  .fade3:before {
      content: "";
      position: absolute;
      right: -40px;
      top: -200px;
      width: 1000px;
      height: 600px;
      background-image: linear-gradient(90deg, rgba(227,231,248,0) 0%, #E8F2FC 100%);
  }

  .fade4 {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 800px;
      height: 600px;
      background-image: linear-gradient(-90deg, rgba(237,240,243,0) 0%, rgba(54,51,175,0.57) 100%);
      z-index: 1;
      transform: translate(-360px, 0px) rotate(-45deg)
  }

  .fade4:before {
      content: "";
      position: absolute;
      right: 200px;
      top: -200px;
      width: 800px;
      height: 600px;
      background-image: linear-gradient(-90deg, rgba(227,231,248,0) 0%, rgba(236,218,255,0.43) 100%);
  }

  .dark .fade1:before {
      background-image: linear-gradient(90deg, rgba(227,231,248,0) 0%, #7d8b94 100%);
  }

  .dark .fade2:before {
      background-image: linear-gradient(-90deg, rgba(227,231,248,0) 0%, #7d8b94 100%);
  }

  .dark .fade3:before {
      background-image: linear-gradient(90deg, rgba(227,231,248,0) 0%, #7d8b94 100%);
  }
}
